<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        <?php _e('Edit Topic'); ?>
    </h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="title">
            <?php _e('Title'); ?> *
        </label>
        <input type="text" class="form-control" id="title" name="title"
            value="<?php echo htmlspecialchars($topic['title']); ?>" required>
    </div>

    <div class="form-group">
        <label for="category">
            <?php _e('Category'); ?> *
        </label>
        <select class="form-control select2" id="category" name="category" style="width: 100%;">
            <option value="General" <?php if($topic['category']=='General' ) echo 'selected' ; ?>>
                <?php _e('General'); ?>
            </option>
            <option value="Info" <?php if($topic['category']=='Info' ) echo 'selected' ; ?>>
                <?php _e('Info'); ?>
            </option>
            <option value="Network" <?php if($topic['category']=='Network' ) echo 'selected' ; ?>>
                <?php _e('Network'); ?>
            </option>
            <option value="Server" <?php if($topic['category']=='Server' ) echo 'selected' ; ?>>
                <?php _e('Server'); ?>
            </option>
            <option value="Software" <?php if($topic['category']=='Software' ) echo 'selected' ; ?>>
                <?php _e('Software'); ?>
            </option>
            <option value="Hardware" <?php if($topic['category']=='Hardware' ) echo 'selected' ; ?>>
                <?php _e('Hardware'); ?>
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="content">
            <?php _e('Content'); ?> *
        </label>
        <textarea class="form-control summernote" id="content" name="content"
            required><?php echo $topic['content']; ?></textarea>
    </div>

    <input type="hidden" name="id" value="<?php echo $topic['id']; ?>">
    <input type="hidden" name="action" value="editTopic">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
        <?php _e('Cancel'); ?>
    </button>
    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>
        <?php _e('Save Changes'); ?>
    </button>
</div>

<script type="text/javascript">
    $(function () {
        $(".select2").select2();
        $('.summernote').summernote({
            height: 200,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ]
        });
    });
</script>